/* Tablet Landscape */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  nav {
    padding: 1em 4em;
  }

  .hero-container {
    .hero-1 {
      height: 35em;
      padding: 2em;

      img {
        height: 30em;
      }
    }
  }

  .cards {
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em 2em 3em 4em;

    .card {
      width: calc(50% - 2em);
      margin: 1em;
    }
  }

  footer {
    padding-right: 8em;
  }
}

/* Tablet potrait mode */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  nav {
    padding: 1em 2em;
  }

  .hero-container {
    .hero-1 {
      height: 35em;
      font-size: 13px;
      padding: 2em;
      align-items: center;

      img {
        height: 15em;
        width: 15em;
      }
    }
  }

  .cards {
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;

    .card {
      width: calc(50% - 2em);
      margin: 1em;
    }
  }

  footer {
    padding: 2em;
  }
}


/* Mobile phone mode */
@media only screen and (max-width: 600px) {
  nav {
    position: relative;
    justify-content: flex-end;
    padding: 1em;
    .logo {
      // display: none;
      margin-right: auto;
    }
    ul {
      display: none;
      position: fixed;
      align-items: center;
      justify-content: center;
      margin: 0 3em 0 0;
      font-size: 10px;
      transform: translateX(-10%, 10%);
    }
    .bars {
      display: block;
      position: absolute;
    }
  }

  .hero-container {
    .hero-1 {
      height: auto;
      font-size: 13px;
      padding: 1em;
      align-items: center;
      flex-direction: column-reverse;

      img {
        width: 100%;
        margin: 1em 0;
      }
    }

    .hero-2{
      flex-direction: column;
    }
  }

  .cards {
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;

    .card {
      width: 90%;
      margin: 1em;
    }
  }

  footer {
    flex-direction: column;
    padding: 1em;
  }
}
